*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header navi styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
   height: 64px;
   border-radius: 4px;
   
   background-color: #FD6E0A;
   color: #FFFFFF;
   font-weight: 700;
   font-size: 20px;
   border: 0;
   padding: 18px 35px;



}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.ban-sub{
    font-size: 600;
    font-weight: 45px;
    margin-bottom: 20px;
}
.ban-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.ban-title{
    margin-bottom: 5px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat:no-repeat;
    background-position: bottom right,left;
}
/* main section */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.resume-sec-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}
.sec-title{
    
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    

}
.sec-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px; 

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #a35a5a;
    margin-bottom: 4px;
}
.info-description{
    font-weight:700 ;
    font-size: 20px;
    color: #474747;
}
/* what i do */
.what-i-do{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-size: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.resume-content{
    display: flex;
    gap:20px;
}
.title{
    font-weight: 700;
    font-size: 25px;
    color: #363232;
    margin-bottom: 10px;
    
}
.sub-title{
    color: #bc6868;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.description{
    color: #757575;
    margin-bottom: 8px;
    
}
.resume-item{
    margin-top: 30px;
}